@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansLight";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4 {
    font-family: "GmarketSansBold";
}

* {
    margin: 0;
    padding: 0;
    font-family: "GmarketSansMedium";
}

body {
    background: #0d0410;
}

#wrap {
    display: flex;
    flex-direction: column;
    height: 150vh;
}

#wrap > .pageText {
    width: 100%;
}

#wrap > .boxCover {
    width: 92%;
    margin: 0 auto;
    transform: translateY(-30px);
    z-index: 9999;
}

#wrap > .boxCover.add {
    animation: openBox 2s cubic-bezier(0.17, 0.67, 0, 1.03);
    transform: translateY(-150px);
}

#wrap > .imgBox {
    width: 90vw;
    margin: 0 auto;
    transform: translateY(-150px);
    background-size: cover;
    background-repeat: no-repeat;
    /* animation: boxChange 2s linear; */
}

#wrap > .boxText {
    width: 80vw;
    margin: 0 auto;
    transform: scale(1) translateY(-150px);
    transition: 0.3s;
    z-index: 999;
    animation: textScale 1s;
}

#wrap > .imgBox {
    width: 90vw;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    /* animation: boxChange 2s linear; */
}

#wrap > .contents {
    width: 100vw;
    transform: translateY(-320px);
}

.linkBox {
    background: #fff;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    transform: translateY(-300px);
}


.linkBox > .txtBox {
    background: #e5007f;
    text-align: center;
    width: 99%;
    margin: 0.5% auto;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 10px;
    letter-spacing: -1px;
    line-height: 1.2;
}

.linkBox > .txtBox .announce1 {
    color: #000;
    font-size: 1em;
    font-weight: bold;
}
.linkBox > .txtBox .announce2 {
    color: #fff;
    width: 80%;
    margin: 0 auto;
    font-size: 0.9em;
    padding: 20px 0;
}
.linkBox > .txtBox .announce3 {
    color: #fff;
    width: 90%;
    margin: 0 auto;
    font-size: 0.8em;
}

.linkBox > .txtBox > h3 {
    font-size: 1.8em;
}

.linkBox > .txtBox p {
    font-size: 1.2em;
}

.linkBox > .innerLinkBox {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 1px;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #d7d0d0;
    -webkit-box-shadow: 2px 2px 5px 2px #d7d0d0;
    -moz-box-shadow: 2px 2px 5px 2px #d7d0d0;
    -o-box-shadow: 2px 2px 5px 2px #d7d0d0;
    -ms-box-shadow: 2px 2px 5px 2px #d7d0d0;
}

.innerLinkBox .txtBox {
    padding: 0 10px;
}

.innerLinkBox .txtBox p {
    font-size: 13.5px;
    letter-spacing: -1px;
    line-height: 1.2;
}
.innerLinkBox .txtBox .flexText {
    display: flex;
    align-items: center;
}

.flexText h3 {
    font-size: 18px;
}
.flexText > span {
    color: #e5007f;
    padding-left: 5px;
    font-size: 13.5px;
}

.innerLinkBox > img {
    width: 80px;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 1px solid #e5e4e1;
}

.videoBox {
    margin: 20px auto;
    text-align: center;
    transform: translateY(-300px);
}

.videoBox > iframe {
    width: 90%;
    height: 200px;
    border-radius: 5px;
    border: 5px solid #fff;
    margin: 10px 0;
}

.videoBox > h3 {
    color: #fff;
    font-size: 2em;
}

.videoBox > img {
    width: 300px;
    margin: 20px 0;
}

#wrap > .cont3 {
    width: 100%;
    transform: translateY(-300px);
}

@keyframes openBox {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(-150px);
    }
}

@keyframes boxChange {
    99% {
        background: url("/images/box01.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    100% {
        width: 100vw;
        margin: 0 auto;
        height: 100vh;
        background: url("/images/box02.png");
        background-size: contain;
        background-repeat: no-repeat;
        animation: boxChange 2s linear;
    }
}

@keyframes textScale {
    0% {
        transform: scale(0.8) translateY(0px);
    }
    100% {
        transform: scale(1) translateY(-150px);
    }
}

@media (min-width: 768px) {
    #wrap > .imgBox {
        width: 90vw;
        background-size: cover;
    }

    #wrap > .contents {
        width: 100vw;
        transform: translateY(0px);
    }
}
